.phone-input-container {
    width: 280px;
    height: 30px;
    
  }
  h1{
    font-family: play-fair, sans-serif;
    color: #ffffff;
  }
  .custom-phone-input {
    width: 100%;
    height: 100%;
    background-color: #aeaea1;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 15px;
  }
  .custom-container input {
    background-color: #aeaea1;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    outline: none;
    border: none;
  }
  
  .custom-phone-input input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 20px;
    color: #333;
    outline: none;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  
  .button-container {
    margin-left: 10px;
  }
  .custom-button {
    background-color: #406462 !important;
    color: #ffffff !important;
  }

  @media (max-width: 600px) {
    .mobileCard {
      background: url('../../images/pic.jpg')  center center fixed;
      background-size: cover;
    }
  }
  @media (max-width: 900px) {
    .mobileCard {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.70);
      width: 80%;
    }
  }